In [5]:
#Create a list of 5 numbers
#Add and remove items
#Print the first 3 items
n=int(input("How many items: "))
lst=[]
for i in range(n):
  item=input("Enter the item: ")
  lst.append(item)
print("List: ",lst)
lst.remove(input("Enter the item to remove:"))
print("List after removing an element: ",lst)
lst.append(input("Enter the item to add:"))
print("List after adding an element: ",lst)
print("Printing first three elements: ",lst[:3])

How many items: 5
Enter the item: e
Enter the item: 6
Enter the item: 7
Enter the item: 8
Enter the item:
List:  ['e', '6', '7', '8', '']
Enter the item to remove:8
List after removing an element:  ['e', '6', '7', '']
Enter the item to add:9
List after adding an element:  ['e', '6', '7', '', '9']
['e', '6', '7']

In [8]:
#Create a tuple
nums=tuple(map(int,input("Enter elements seperated by space: ").split()))
print(nums)
#Convert tuple → list
lst=list(nums)
print("Convert tuple → list",lst)

Enter elements seperated by space: 4 5 6 2 8
(4, 5, 6, 2, 8)
[4, 5, 6, 2, 8]

In [9]:
#Create a set
nums=set(map(int,input("Enter elements seperated by space: ").split()))
print(nums)
#Remove duplicates from a list using set()
items = input("Enter values separated by space: ").split()
unique = set(items)
print("Unique items: ",unique)

Enter elements seperated by space: 5 5 3 8 9 0
{0, 3, 5, 8, 9}
Enter values separated by space: 4 56 7 8 9 7 8 3 3
Unique items:  {'8', '56', '9', '3', '7', '4'}

In [13]:
#Create dict: name, age
n=int(input("Number of items:"))
d={}
for i in range(n):
  name=input("Enter name: ")
  age=int(input("Enter age: "))
  d[name]=age
print("Dictionery",d)
#Update the age
name=input("Enter name to update age: ")
age=int(input("Enter new age: "))
d[name]=age
print(d)
#Loop and print all key-value pairs
for key,value in d.items():
  print(key,value9)

Number of items:3
Enter name: man
Enter age: 454
Enter name: sam
Enter age: 90
Enter name: oan
Enter age: 34
Dictionery {'man': 454, 'sam': 90, 'oan': 34}
Enter name to update age: oan20
Enter new age: 20
{'man': 454, 'sam': 90, 'oan': 34, 'oan20': 20}
man 454
sam 90
oan 34
oan20 20

Day-2 Summary
Learned basics of sets,tuples,lists and dictionaries.

practiced simple operations on each